/* Header - Logos and Links */

header{
    background-color: #1F2937;
}

.hero{
    display: flex;
    color: white;
    font-family: Roboto;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

#logo {
    font-weight: bold;
    flex-grow: 5;
    font-size: 24px;
}

.headerLinks {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-grow: 1;
}

/* Header - Under Logos and Links */

.underHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    padding-bottom: 50px;
}

.underHeroText{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

#heroMainText {
    color: #f9faf8;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 48px;
    margin-left: 20px;
}

#heroSecText {
    color: #e5e7eb;
    font-family: Roboto;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;
}

#signUpButton {
    font-family: Roboto;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 6px 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

#underHeroImage {
    text-align: center;
}

/* Body */

#subtitle {
    font-size: 36px;
    font-family: Roboto;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.bodyTwo {
    display: flex;
    justify-content: center;
}

.illustration {
    margin: 30px 30px;
    border: 5px solid #3882f6;
    border-width: medium;
    border-radius: 25px;
    width: 175px;
    height: 175px;
}

.underBodyTwo {
    display: flex;
}